*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2f80b2;
    text-align: center;
}

.container{
    height: 70vh; /* 70% of viewport height  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
     height:60vmin ;/* 1% of viewport smaller dimensions */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 5rem rgba(59, 142, 161, 0.4) ;
    font-size: 8vmin;
    color: #e6e8fa;
    background-color:#0a1717;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: white;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none; 
}